<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Department Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let department of departments">
            <td>{{department.departmentName}}</td>
            <td>{{department.departmentDesc}}</td>
            <td><a [routerLink]="['/department/edit/', department._id]" class="btn btn-primary">Edit</a>
            <a [routerLink]="" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table> 

<!-- <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item disabled">
        <a class="page-link" [routerLink]="['/department/list']" [queryParams]="{page: 1}" tabindex="-1">1</a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/department/list']" [queryParams]="{page: 2}">2</a></li>
      <li class="page-item"><a class="page-link"[routerLink]="['/department/list']" [queryParams]="{page: 3}">3</a></li>
    </ul>
  </nav> -->

  <div class="custom-pagination">
        <div class="col-sm-9 col-xs-12 ">
            <app-custom-pagination *ngIf="countDepartments > recPerPage" [limit]="recPerPage" [offset]="skip" [size]="countDepartments" (pageChange)="getDepartmentList($event)"></app-custom-pagination>
        </div>
    </div>