<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Hospital Name</th>
            <th>Country</th>
            <th>Province</th>
            <th>District</th>
            <th>Action</th>
        </tr> 
    </thead>
    <tbody>
        <!-- activate the below two lines and you will get a simple pagination -->
        <!-- <tr *ngFor = "let hospital of hospitals | paginate: { itemsPerPage: 1, currentPage: p }"> -->
        <tr *ngFor = "let hospital of hospitals">
            <td> {{hospital.name}} </td>
            <td> {{hospital.address.country}} </td>
            <td> {{hospital.address.province}} </td>
            <td> {{hospital.address.district}} </td> 
            <td><a [routerLink]="['/hospital/edit/', hospital._id]" class="btn btn-primary">Edit</a>
                <a [routerLink]="" class="btn btn-danger">Delete</a></td>
            
            <!-- <td>
                <a [routerLink]="['/hospital/edit']"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button></a>
                <a  [routerLink]="['/delete/:id']" class="btn btn-danger" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td> -->
            
        </tr>
    </tbody>
</table>
<div class="custom-pagination">
    <div class="col-sm-9 col-xs-12 ">
        <app-custom-pagination *ngIf="countHospitals > recPerPage" [limit]="recPerPage" [offset]="skip" [size]="countHospitals" (pageChange)="getHospitalList($event)"></app-custom-pagination>
    </div>
</div>
<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->