<div class="card">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div class="imgcontainer" id="id01">
                <span onclick="document.getElementById('id01').style.display='none'" title="Close Modal">&times;</span>
                <img src="/src/assets/images/avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="form-group">
                <label class="col-md-4">Email</label>
                <input type="text" class="form-control" formControlName="email" />
            </div>
            
            <div class="form-group">
                <label class="col-md-4">Password</label>
                <input type="password" class="form-control" formControlName="password" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                <a [routerLink]="['/login/register']" style="padding-left:30px">Register</a>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                <span style="margin-left: 40px;">Forgot <a href="#">password?</a></span>
            </label>

        </form>
    </div>
</div>

<script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>