<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Department</th>
            <th> Qualification</th>
            <th> Mobile </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let doctor of doctors  | paginate: { itemsPerPage: recordPerPage, currentPage: p }"> -->
        <tr *ngFor="let doctor of doctors">
            <td>{{doctor.name}}</td>
            <td>{{doctor.department}}</td>
            <td>{{doctor.qualification}}</td>
            <td>{{doctor.mobile}}</td>
            <td><a [routerLink]="['/doctor/edit/', doctor._id]" class="btn btn-primary">Edit</a>
            <a [routerLink]="" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>

<div class="custom-pagination">
    <div class="col-sm-9 col-xs-12 "> 
        <app-custom-pagination *ngIf = "countDoctors > recPerPage" [limit] = "recPerPage" [offset] = "skip" [size] = "countDoctors" (pageChange)="getDoctorList($event)"></app-custom-pagination>
    </div>
</div>


<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
