<div class="card">
    <div class="card-body">
    <form [formGroup]="formData" (ngSubmit)="submitDepartment()">
        <div class="form-group">
            <label class="col-md-4">Department Name</label>
            <input type="text" class="form-control" formControlName="departmentName" />
        </div>
        <div *ngIf = "formData.controls['departmentName'].invalid && (formData.controls['departmentName'].dirty || formData.controls['departmentName'].touched)" class="alert alert-danger">
            <div *ngIf = "formData.controls['departmentName'].errors.required">
                Department is required
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Department Description </label>
            <textarea class="form-control"  formControlName="departmentDesc" id="" cols="30" rows="10"></textarea>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Add Department</button>
        </div>
    </form>

    </div> 
</div>