
    <div class="col-md-2 menucontent">
        <a href="#"><h1>Dashboard</h1></a>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a  [routerLink]="['/hospital']">Hospital</a></li>
            <li role="presentation"><a  [routerLink]="['/doctor']">Doctors</a></li>
            <li role="presentation"><a  [routerLink]="['/patient']">Patients</a></li>
            <li role="presentation"><a  [routerLink]="['/department']">Department</a></li>
            <li role="presentation"><a  [routerLink]="['/profile']">Profile</a></li>
        </ul>
    </div>
